h4{
	margin-left: 15px; 
}
.Lancement{
	margin-left: 20px;
}
.Partages{
	margin-left: 20px;
}
.Bud{
	margin-left: 20px;
}
.real{
	margin-left: 20px;
}
.Exe{
	margin-left: 20px;

}
.b{
	margin-left: 100px;
}
